<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<h2> <%= @task.title  %></h2>
<p> <%= @task.details %></p>
<p> Complete status: <%= @task.completed %></p>
<p> <%= link_to "Back to list", tasks_path %></p>
<p> <%= link_to "Edit the task", edit_path %></p>
<p> <%= link_to "Delete this bitchhh", task_path(@task),
      method: :delete,
      data: { confirm: "I'm a PICKLE!" } %></p>
